<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post Theme</h1>
  
    <form action="/index/themepost" method="POST">
        <input type="Type" name="Type" placeholder="input image Type">
        <input type="Name" name="Name" placeholder="input theme Name">
        <input type="Youtube" name="Youtube" placeholder="input theme Youtube">
        <input type="Description" name="Description" placeholder="input theme Description">
        <input type="CreaterName" name="CreaterName" placeholder="input theme CreaterName">
        <input type="Link" name="Link" placeholder="input theme Link">
        <button>submit</button>
    </form>

    <form action="/index/themepost" method="POST">
        <input type="name" name="name" placeholder="My Name" />
        <input
          type="email"
          name="email"
          placeholder="johnnythedesigner@gmail.com"
        />
        <input type="password" name="password" placeholder="* * * * * *" />
        <button>SIGN UP</button>
      </form>
</body>
</html>